body {
    margin: 0px;
    padding: 0px;
}

.site {
    display: grid;
    grid-template-rows: auto 1fr 3fr;
    grid-template-areas: 
        "header"
        "title"
        "main"
        "sidebar"
        "footer";
}

.masthead {
    background-color: rgb(80, 80, 124);
    grid-area: header;
    text-align: center;    
}

.page-title {
    background-color: rgb(80, 124, 91);
    grid-area: title; 
    text-align: center;   
}

.main-content {
    background-color: rgb(228, 93, 84);
    grid-area: main;
}

.sidebar {
    background-color: rgb(194, 194, 216);
    grid-area: sidebar;
}

.footer {
    background-color: rgba(255, 249, 172, 0.979);
    grid-area: footer;
}

@media screen and (min-width: 35em) {
    .site {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "title title"
            "main header"
            "main sidebar"
            "footer footer";
    }
}

@media screen and (min-width: 65em) {
    
    body {
        margin: 0px 150px 0px 150px;
        padding: 0px;
    }
    
    .site {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
            "title title title"
            "main header header"
            "main sidebar footer";
    }

}
